// =============================================================================
// Excalidraw (CSS)
// =============================================================================

// BAD CODE! VERY VERY BAD!
#excalidraw-root {
  position: relative;
  top: 0;
  z-index: 1000;
  height: 500px;

  #excalidraw {
    height: 100%;
    width: 100%;
  }

  .button {
    position: fixed;
    bottom: 0px;
    left: 50%;
    z-index: 1001;
    background-color: #69e97a;
    color: #000;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-color: #ccc;
    transform: translateX(-50%);
    
    &:hover {
      transform: translate(-50%, -4px);
    }
  }
}