// =============================================================================
// DESIGNER REVIEW MODAL STYLES
// =============================================================================

.designer-review-modal .modal-header-title {
    font-family: $designer-review-button-font-family;
    font-weight: $designer-review-modal-header-font-weight;
}

.designer-review-modal .modal-body {
    background-color: $designer-review-modal-body-bg-color;  
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: $reveal-modal-padding;
}

.designer-review-excalidraw-img {
    display: block;    
    width: 100%;          
    height: auto;           
    margin: 0 auto;   
}

.designer-review-actions {
    display: flex;
    justify-content: $designer-review-actions-align;
    align-items: center;
    padding: $designer-review-actions-padding;
    background-color: $designer-review-actions-bg-color;  
    border-radius: $designer-review-actions-border-radius;
    width: 100%;
    max-width: 300px; 
    margin: 2.25rem auto 0rem auto;
}

.designer-review-modal .button.button--primary {
    font-family: $designer-review-button-font-family;
    background-color: $designer-review-button-bg-color;  
    color: $designer-review-button-text-color;  
    font-weight: $designer-review-button-font-weight; 
    padding: $designer-review-button-padding-vertical $designer-review-button-padding-horizontal; 
    border-radius: $designer-review-button-border-radius;  
    margin: auto;
}