<div id="designer-review-modal" class="designer-review-modal">
  <div class="designer-review-modal-header">
    <h2 class="designer-review-modal-header-title">Review Your Design</h2>
  </div>
  
  <div class="designer-review-modal-body">
    <div>
      <img class="designer-review-excalidraw-img" src="" alt="product design" />
    </div>
    <div class="designer-review-actions">
      <button class="designer-review-button button--primary" data-designer-modal-edit>Edit design</button>
      <button class="designer-review-button button--primary" data-designer-modal-continue>Continue</button>
    </div>
  </div>
</div>