<div id="designer-review-modal" class="designer-review-modal">
  <div class="modal-header">
    <h2 class="modal-header-title">{{lang 'modal.designer_review.title'}}</h2>
  </div>
  
  <div class="modal-body">
    <div>
      <img class="designer-review-excalidraw-img" src="" alt="product design" />
    </div>
    <div class="designer-review-actions">
      <button class="button button--primary" data-designer-modal-edit>{{lang 'modal.designer_review.edit_button'}}</button>
      <button class="button button--primary" data-designer-modal-continue>{{lang 'modal.designer_review.continue_button'}}</button>
    </div>
  </div>
</div>